.header {
  width: 100%;
  padding: 0 20px;
  float: left;
  background-color: rgb(255, 255, 255);
  column-gap: 20px;
  height: 75px;
  border-bottom: 1px solid #acacac;
}

.header .container-media-frames {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 25px;
}

.header img {
  width: 60px;
  height: auto;
  cursor: pointer;
}

.header p {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}
